.todoitems {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
}
.todoitemsContainer {
  display: flex;
}
.todo-items-text {
  padding-left: 16px;
  color: #404040;
  font-size: 22px;
}
.crossItem {
  cursor: pointer;
  padding-right: 25px;
}
.line-through {
  text-decoration: line-through solid #adadad 3px;
}
